@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  width: 100%;
  height: 100vh;
  min-height: 50em;
}

/*-- -------------------------- -->
<---          Hero              -->
<--- -------------------------- -*/
.hero {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 90vh;
  border-top: 0.5px solid rgb(87, 87, 87);
}
.hero a :hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.hero .hero-left-area {
  display: grid;
  padding: 1.4em;
  padding-bottom: 3em;
  order: -1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1342%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1343%26quot%3b)'%3e%3c/rect%3e%3cpath d='M317.81731098975115 736.9746835338165L194.72306960181203 514.9067936710661-27.344820260938263 638.0010350590053 95.74942112700083 860.0689249217555z' fill='rgba(231%2c 169%2c 61%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M135.9536218226827 821.9130567617296L270.5047177930725 831.3217859464443 217.34226358494954 624.7907773985023z' fill='rgba(231%2c 169%2c 61%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M155.614%2c384.59C220.12%2c382.692%2c271.716%2c339.007%2c305.778%2c284.194C342.341%2c225.356%2c370.091%2c153.634%2c336.927%2c92.816C302.749%2c30.138%2c226.985%2c7.109%2c155.614%2c8.817C87.495%2c10.447%2c23.1%2c42.312%2c-11.267%2c101.148C-45.929%2c160.489%2c-45.542%2c234.283%2c-10.675%2c293.504C23.693%2c351.876%2c87.905%2c386.582%2c155.614%2c384.59' fill='rgba(231%2c 169%2c 61%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1224.594%2c660.663C1273.129%2c659.22%2c1320.3%2c640.92%2c1346.112%2c599.793C1373.614%2c555.973%2c1379.03%2c500.206%2c1353.559%2c455.176C1327.731%2c409.514%2c1277.021%2c386.843%2c1224.594%2c384.958C1168.161%2c382.929%2c1107.754%2c396.986%2c1078.503%2c445.288C1048.426%2c494.954%2c1057.287%2c559.359%2c1089.881%2c607.411C1118.932%2c650.24%2c1172.865%2c662.201%2c1224.594%2c660.663' fill='rgba(231%2c 169%2c 61%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M391.1231618271005 628.6802166233343L332.11702869006 800.046470329515 503.4832823962407 859.0526034665555 562.4894155332812 687.6863497603748z' fill='rgba(231%2c 169%2c 61%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1342'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='9.37%25' y1='-15%25' x2='90.63%25' y2='115%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1343'%3e%3cstop stop-color='rgba(231%2c 170%2c 9%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 202%2c 108%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}
.hero .hero-left-area .hero-cta {
  padding-left: 2.5em;
  padding-top: 2em;
}
.hero .hero-left-area .hero-cta a {
  text-decoration: none;
  margin-right: 0.6em;
}
.hero .hero-left-area .hero-cta h1 {
  font-size: 3.2em;
  padding-bottom: 0.2em;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.7px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.hero .hero-left-area .hero-cta .char {
  transform: translateY(-115px);
  transition: transform 0.4s;
}
.hero .hero-left-area .hero-cta .subheading {
  color: #262626;
  margin-top: 0.3em;
  font-size: 1.6em;
  padding-bottom: 0.5em;
}
.hero .hero-left-area .hero-cta .description {
  font-size: 1.1em;
  padding-top: 0.6em;
  padding-bottom: 0.8em;
  padding-right: 0.6em;
  line-height: 1.6em;
  text-wrap: balance;
}
.hero .hero-left-area .hero-cta .social-btn {
  color: #000 !important;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.9em;
  border: 1.5px solid rgb(62, 62, 62);
  border-radius: 6px 12px 6px 12px;
}
.hero .hero-left-area .hero-cta .social-btn:hover {
  cursor: pointer;
}
.hero .hero-left-area .hero-cta .google-btn {
  background-color: #4d8ff8;
}
.hero .hero-left-area .hero-cta .google-btn:hover {
  background-color: #70a2f2;
}
.hero .hero-left-area .hero-cta .linkedin-btn {
  background-color: #0072b1;
}
.hero .hero-left-area .hero-cta .linkedin-btn:hover {
  background-color: #2087be;
}
.hero .hero-left-area .hero-cta .github-btn {
  background-color: #566271;
}
.hero .hero-left-area .hero-cta .github-btn:hover {
  background-color: #6b7076;
}
.hero .hero-left-area .hero-cta .dribbble-btn {
  background-color: #EA4C89;
}
.hero .hero-left-area .hero-cta .dribbble-btn:hover {
  background-color: #eb6296;
}
.hero .hero-left-area .hero-cta .contact-link:hover {
  background-color: #6c757d;
  color: #fff;
}
.hero .hero-left-area .hero-cta .contact-link:visited {
  color: #000 !important;
}
.hero .hero-left-area .hero-cta .hero-contact-btn {
  color: #000 !important;
  font-size: 1em;
  padding: 0.8em;
  margin-bottom: 0.1em;
  font-weight: bolder;
  border-radius: 12px;
  border: 2px solid black;
  background-color: whitesmoke;
}
.hero .hero-left-area .hero-cta .hero-contact-btn:hover {
  background-color: #6c757d;
  color: #fff;
  cursor: pointer;
}
.hero .hero-right-area {
  display: grid;
  padding-top: 2.5em;
  padding-bottom: 0.8em;
}
.hero .hero-right-area p {
  margin-bottom: 2em;
}
.hero .hero-right-area .skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 4em;
  padding-left: 9vw;
  padding-right: 4vw;
  font-size: 0.9em;
  line-height: 1.8em;
}
.hero .hero-right-area .skills-container h3 {
  padding-bottom: 0.5em;
  font-size: 1.3em;
}
.hero .hero-right-area .skills-container ul {
  color: #4b4b4b;
  list-style-type: circle;
}
.hero .hero-right-area .skills-icon {
  width: 0.8em;
}
.hero .hero-right-area .skills-heading-style {
  font-size: 1.6em;
  font-weight: bold;
}
.hero .hero-right-area .skills-container ul {
  font-size: 0.9em;
  font-weight: 600;
}
.hero .hero-right-area .skills-heading-style:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 75%;
  padding-top: 2px;
  padding-bottom: 6px;
  border-bottom: 0.9px solid rgb(118, 120, 130);
  /* margin: 0 auto;  Turn on to center border */
}

/*-- -------------------------- -->
<---         Projects           -->
<--- -------------------------- -*/
.projects {
  padding-top: 0.8em;
  padding-bottom: 2.5em;
  margin-bottom: 1em;
}
.projects .skills-icon {
  width: 0.8em;
  margin-right: 0.3em;
}
.projects ul {
  list-style-type: circle;
}
.projects h2 {
  font-size: 2.6em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 0.4em;
}
.projects h3 {
  font-size: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}
.projects h4 {
  text-align: center;
  padding-bottom: 0.5em;
}
.projects .features-area {
  display: grid;
}
.projects .features-area a {
  text-decoration: none;
  color: #000;
}
.projects .feature-title {
  padding-top: 0.4em;
}
.projects .feature-item {
  text-decoration: none;
  margin: 0.9em;
  margin-bottom: 0.6em;
  padding: 1.4em 0.8em 0.6em 0.8em;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: rgba(240, 240, 240, 0.5);
  display: grid;
  justify-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}
.projects .feature-item:hover {
  transform: scale(1.03);
}
.projects .feature-item:visited {
  color: #000;
}
.projects .feature-image {
  border-radius: 0.4rem;
}
.projects .feature-image-1 {
  background-image: url("/images/projects/colour-schemes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 11em;
  height: 11em;
}
.projects .feature-image-2 {
  background-image: url("/images/projects/react-phone-shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 11em;
  height: 11em;
}
.projects .feature-image-3 {
  background-image: url("/images/projects/portfolio-v3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 11em;
  height: 11em;
}
.projects .feature-image-4 {
  background-image: url("/images/projects/sweet-merchant.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 11em;
  height: 11em;
}
.projects .feature-description {
  color: #1f1f1f;
  text-align: center;
  max-width: 18em;
  padding-bottom: 1.2em;
}

/*-- -------------------------- -->
<---       Media queries        -->
<--- -------------------------- -*/
@media (min-width: 51em) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero .hero-right-area {
    order: 2;
  }
}
@media screen and (min-width: 0px) {
  .services-area {
    grid-template-columns: 1fr;
  }
  .features-area {
    grid-template-columns: 1fr;
  }
}
/* Ipad Pro */
@media screen and (min-width: 450px) and (max-width: 991px) {
  .services-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .features-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Tablets */
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .services-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .features-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small Desktop */
@media screen and (min-width: 1024px) {
  .services-area {
    grid-template-columns: repeat(4, 1fr);
  }
  .features-area {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Regular Desktop */
@media only screen and (min-width: 2000px) {
  .services-area {
    grid-template-columns: repeat(4, 1fr);
  }
  .features-area {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Large Desktop */
@media only screen and (min-device-width: 300px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .basics,
  .tools,
  .design-tools,
  .wordpress {
    padding-bottom: 0.8em;
  }
  .hero .description {
    padding-right: 1em;
    max-width: 14em;
  }
  .hero .social-btn {
    margin-bottom: 0.6em;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .br-media-query span {
    white-space: nowrap;
  }
  .hero-left-area h1 {
    font-size: 2.8em !important;
  }
}
/* 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .description {
    font-size: 1.4em !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .basics,
  .tools,
  .design-tools,
  .wordpress {
    padding-bottom: 0.8em;
  }
}/*# sourceMappingURL=local.css.map */