@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-family-lato: 'Lato',sans-serif;
$font-family-segoe: 'Segoe UI', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-bebas: 'Bebas Neue', sans-serif;
$font-color-grey: #444444;

.grey-font {
    color: $font-color-grey
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-lato;
}

// FOR LAZY LOADING BACKGROUND IMAGES DO NOT REMOVE
.lazy {
    background-image: none;
    background-color: #F1F1FA;
}

// SCROLL TO TOP BUTTON FROM W3SCHOOLS
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 2em; 
    right: 2em;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(0, 0, 0, .85);
    color: white; 
    cursor: pointer; 
    padding: 0.5em 0.8em;
    border-radius: 16px; 
    font-size: 1.2em; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

// ---NAVIGATION---
.header-ul {
    padding-right: 3em; 
    
}
.navbar-toggle-btn {
    background:  #f4f4f4;
    margin-left: auto;
    margin-top: 0.4em;
    padding-top: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.navbar-links {
    a {
    font-family: $font-family-segoe;
    font-size: 1.1em;
    color: #000;
    font-weight: bold;
    text-align:center;
    transition: 0.5s;
    
    &:hover {
        background:rgba(255,255,255, 0.5 );
        transition-duration: 0.6s;
        transform: translateY(-2px);
    }
    }
}

.main-navbar {
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}
// ---NAVIGATION END---

// ---HERO SECTION---
.main-container {
    height: 100%;
    width: 100%;
    background: url('/images/yellow-bg.jpg');
    background-size: cover;
    padding-bottom: 10em;
    padding-top: 0.4em;
    border-left: 3.3em solid black;
    .main-image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        // ALLOWS CLICKING OF LINKS BEHIND IMG
        pointer-events: none;
    }
}

.main-title {
    color: rgb(26, 24, 24);
    color: #000;
    font-weight: normal;
    font-size: 3.7rem;
    font-family: $font-family-bebas;
    letter-spacing: 1.5px;
}

.lead {
    font-size: 1.7em;
    color: #000;
}

.btn-container {
    
    .action-btn {
        border-radius: 24px;
        border: 2px solid black;
        background-color: whitesmoke;
        &:hover {
            background-color: #6c757d; 
        }
    }
    .action-btn-1 {
        margin-right: 0.5em;
    }
}

.social-btn {
    width: 4.6em;
    margin-bottom: 0.4em;
}

// ---HERO SECTION END---

// ---ABOUT SECTION START---
.about-container {
    display: grid;
    grid-template-columns: minmax(110px, 22%) 1fr;
    width: 100%;
    height: 65vh;
    background-size: cover;
}

.about-content {
    font-size: 1.18em;
    line-height: 1.2em;
}

.about-title {
    font-weight: bold;
}

.about-left-box {
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 18px 0;
}

.about-right-box {
    background-color: #d3d3d3 ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    margin-left: 3vw;
    padding-right: 6vw;
    padding-left: 6vw;
    border-radius: 0 0 0 18px;
}

// ---SKILLS SECTION---
#skills {
    padding-left: 5vw;
    padding-right: 5vw;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 4em;
    padding-left: 8vw;
    padding-right: 6vw;
}

.skills-icon {
    width: 1em;
    padding-bottom: 5px;
}

.skills-heading-style {
    font-size: 1.6em;
    font-weight: bold;
}

.skills-container ul {
    font-size: 1.1em;
}
// Creating short border under heading
.skills-heading-style:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 80%; 
    padding-top: 2px; 
    padding-bottom: 8px;
    border-bottom: 0.9px solid rgb(118,120,130); 
   /* margin: 0 auto;  Turn on to center border */
}

// ---PROJECTS SECTION---
#projects {
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.project-card-container {
    h3 {
        font-family: $font-family-lato;
        font-size: 1.7em; 
        font-weight: bold; 
        padding: 0.8em; 
        color: #ffff;
        background: rgb(118,120,130);
        background: linear-gradient(90deg, rgba(118,120,130,1) 15%, rgba(91,95,108,1) 88%); 
        text-shadow: 1px 1px #000 !important;
        width: fit-content;
        margin: auto;
        margin-bottom: 0;
        border: 3px solid #000;
        border-radius: 4px;
        text-align: center;
        text-shadow: 0.3px 0.3px #000;
        &:hover {
            text-decoration: none;
        }
    }
}

.project-card-title { 
    font-size: 1.4em; 
    padding: 0.5em; 
    border: 3px solid #000;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(71, 71, 71);
    &:hover {
        color: darkcyan;
        text-decoration: none;
    }
}

.project-card-title-test { 
    font-size: 1.6em;  
    padding: 0.8em; 
    font-weight: bold;
    border-radius: 24px;
    border: 2px solid #000;
    text-shadow: 0.3px 0.3px #000;
    color: #fff;
    background-color: rgb(71, 71, 71);
    width: fit-content;
}
// ---PROJECT CARD IMAGES---
.projects-img-1 {
    background-image: url("/images/projects/colour-schemes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-img-2 {
    background-image: url("/images/projects/project.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-img-3 {
    background-image: url("/images/projects/portfolio-v3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-img-4 {
    background-image: url("/images/projects/js-weather-app.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-img-5 {
    background-image: url("/images/projects/react-phone-shop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-6 {
    background-image: url("/images/projects/sweet-merchant.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-img-7 {
    background-image: url("/images/projects/react-portfolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}
// ---PROJECT CARD IMAGES END---

.project-icon-container {
    border: 3px solid #000;
    background-color: rgb(71, 71, 71);
    padding: 1em;
    border-radius: 24px;
}
.card-icon {
    width: 2em;
    padding: 0 1px;
}
.modal-trigger-container {
    display: flex;
    font-size: 14px;
    button {
        background-color: #e7e7e7;
        color: #000;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 12px;
        border: 2px solid black;
        &:hover {
            background-color: rgb(156, 156, 156);
        }
    }
}

.project-btn-container {
    display: flex;
    font-size: 14px;
    justify-content: center;
    button {
        background-color: #e7e7e7;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 12px;
        border: 2px solid black;
        &:hover {
            background-color: rgb(156, 156, 156);
        }
    }
}

.card-icon-react {
    width: 3em;
}
// ---PROJECTS SECTION END---

// ---FOOTER---
.footer-email {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1rem;
    :hover {
        color:coral;
    }
}
#email-icon {
    // color: rgba(255, 255, 255, 0.7);
    // text-decoration: none;
    transition:0.5s ease-in;
    display: inline-block;
    width: 2.2em;
    height: 2em;
    font-size: 1.5rem;
    line-height: 50px;
    outline: 0;
    color: rgba(0, 0, 0, 0.7);
    background: whitesmoke;
    text-decoration: none;
    border-radius: 24px;

    cursor: pointer;
    :hover {
        color:coral;
    }
}
// PHONE MEDIA QUERIES

// IPHONE 5 - 5S
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8em;
    }
    .about-left-box{
        font-size: 1.6em;
        margin-bottom: -5em;
        background-color: #fff;
    }
    .about-right-box {
        margin-left: 0;
        border-radius: 0;
    }
    .skills-container {
        font-size: 0.95em;
        padding-left: 1vw;
        .skills-heading-style {
            font-size: 1.1em;
        }
    }
}
// IPHONE 6 - 8
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .about-container {
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1.4em;
    }
    .about-title {
        font-size: 1.2em;
    }
    .fa-address-card {
        font-size: 1.2em;
    }
}
// IPHONE 6+ - 8+
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .about-container {
        font-size: 1.2em;
        margin-bottom: 2em;
    }
}

// IPHONE XR 
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
    .about-title {
        font-size: 1.4em;
        
    }  
    .about-right-box {
        font-size: 1.3em;
    }
    .skills-container {
        font-size: 1.2em;
    }
}

// IPAD MEDIA QUERIES
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        font-size: 1.4em;
    }
}
// IPAD PRO
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        height: 60vh;
        font-size: 1.4em;
        padding-bottom: 0;
    }
}

// ANIMATION FOR EMAIL ICON
@keyframes hover {
    from {
        transform: translateY(-8px);
    }
}
.footer-icon-container:hover {
    transition-duration: 0.6s;
    animation: hover 1.5s alternate-reverse infinite;
}

.footer-copyright {
    background: rgb(248,190,3);
    background: linear-gradient(90deg, rgba(248,190,3,1) 11%, rgba(207,154,0,1) 79%);
}

