@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$font-family-lato: 'Lato',sans-serif;
$font-family-segoe: 'Segoe UI'sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-lato;
}

// ---NAVIGATION---
#logo {
    display: inline-block;
    padding: 0.6em 1em;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

@media only screen and (max-width: 550px) {
    #logo {
        font-size: 1.4em;
    }
}

.header-ul {
    padding-right: 3em; 
    
}

.navbar-toggle-btn {
    background: rgb(111,61,132);
    background: linear-gradient(90deg, rgba(182,52,238,1) 0%, rgba(111,61,132,1) 100%);
    margin-left: auto;
    margin-top: 0.2em;
    border-radius: 4px;
}

.navbar-links {
    a {
    font-family: $font-family-segoe;
    font-size: 1em;
    color: #000;
    font-weight: bold;
    text-align:center;
    transition: 0.5s;
    
    &:hover {
        background:rgba(255,255,255, 0.5 );
        transition-duration: 0.6s;
        transform: translateY(-1px);
    }
    }
}

.main-navbar {
    padding-top: 0em;
    padding-bottom: 0.4em;
}

// ---NAVIGATION END---

// ---HERO SECTION---
.main-container {
    height: 100%;
    background: url('/images/background.png');
    background-size: cover;
    padding-bottom: 10em;
    .main-image {
        height: 20em;
    }
}

.main-title {
    font-family: $font-family-segoe;
    color: rgb(26, 24, 24);
    font-weight: bolder;
}

.lead {
    font-size: 1.4em;
    color: #fff;
}

.btn-container {
    
    .action-btn {
        border-radius: 24px;
        border: 2px solid black;
        background-color: whitesmoke;
        background-color: rgba(255,255,255, 0.6 );
        &:hover {
            background-color: rgba(255,255,255,1 );  
        }

    }

    .action-btn-1 {
        margin-right: 0.5em;
        
    }
}

// ---HERO SECTION END---

// ---ABOUT SECTION START---

.about-container {
    width: 100%;
    height: 85vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5em;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: center;
    p {
        font-size: 1em;
    }
}

// PHONE MEDIA QUERIES

// IPHONE 5 - 5S
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        font-size: 1em;
        margin-bottom: 6em;
    }
}
// IPHONE 6 - 8
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .about-container {
        font-size: 1.1em;
        margin-top: 1em;
        margin-bottom: 1.1em;
    }
}
// IPHONE 6+ - 8+
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .about-container {
        font-size: 1.2em;
        margin-bottom: 2em;
    }
}


// IPAD MEDIA QUERIES
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        font-size: 1.8em;
    }
}
// IPAD PRO
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-container {
        height: 60vh;
        font-size: 1.8em;
        padding-bottom: 0;
    }
}

// ---SKILLS SECTION---

.skills-container {
    padding-bottom: 4em;
    padding-left: 4vw;
    padding-right: 4vw;
}

.card {
    padding-top: 2.2em;
    padding-bottom: 18px;
    margin-bottom: 1em !important;

    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);   
    }


    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }
    p {
        color:rgb(77, 77, 77);
        font-size: 0.9em;
    }
}

.card-img {
    width: 7em;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px;
    transition: 0.4s;
    &:hover {
        transform: scale(1.1);
    }
}

.skills-icon {
    width: 1.1em;
    padding-bottom: 5px;
}

// ---PROJECTS SECTION---
#projects {
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.project-card-container {

    h3 {
        font-size: 1.6em; 
        font-weight: bold; 
        padding: 0.8em; 
        color: #fff;
        background-color: rgb(70, 35, 165);
        width: fit-content;
        margin: auto;
        margin-bottom: 0;
        border: 3px solid #000;
        border-radius: 24px;
        text-align: center;
        text-shadow: 0.3px 0.3px #000;

        &:hover {
            background-color: rgba(70, 35, 165,0.9);
            text-decoration: none;
        
        }
    }
}

.project-card-title { 
    font-size: 1.4em;  
    padding: 0.5em; 
    border: 3px solid #000;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(71, 71, 71);
    &:hover {
        color: darkcyan;
        text-decoration: none;
    
    }
}

.project-card-title-test { 
    font-size: 1.6em;  
    padding: 0.8em; 
    font-weight: bold;
    border-radius: 24px;
    border: 2px solid #000;
    text-shadow: 0.3px 0.3px #000;
    color: #fff;
    background-color: rgb(71, 71, 71);
    width: fit-content;


}


// ---PROJECT CARD IMAGES---
.projects-img-1 {
    background-image: url("/images/projects/project.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-2 {
    background-image: url("/images/projects/portfolio-v3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-3 {
    background-image: url("/images/projects/js-weather-app.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-4 {
    background-image: url("/images/projects/react-phone-shop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-5 {
    background-image: url("/images/projects/sweet-merchant.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-img-6 {
    background-image: url("/images/projects/react-portfolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}
// ---PROJECT CARD IMAGES END---

.project-icon-container {
    border: 3px solid #000;
    background-color: rgb(71, 71, 71);
    padding: 1em;
    border-radius: 24px;
}

.card-icon {
    width: 2em;
    padding: 0 1px;
}

.modal-trigger-container {
    display: flex;
    font-size: 14px;
    button {
        background-color: #e7e7e7;
        color: #000;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 12px;
        border: 2px solid black;
        &:hover {
            background-color: rgb(156, 156, 156);
        }
    }
}

.project-btn-container {
    display: flex;
    font-size: 14px;
    justify-content: center;
    button {
        background-color: #e7e7e7;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 12px;
        border: 2px solid black;
        &:hover {
            background-color: rgb(156, 156, 156);
        }
    }
}

.card-icon-react {
    width: 3em;
}


// ---PROJECTS SECTION END---

// ---FOOTER---

.footer-email {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1rem;
    :hover {
        color:coral;
    }
}
    
#email-icon {
    // color: rgba(255, 255, 255, 0.7);
    // text-decoration: none;
    transition:0.5s ease-in;
    display: inline-block;
    width: 2.2em;
    height: 2em;
    font-size: 1.5rem;
    line-height: 50px;
    outline: 0;
    color: rgba(0, 0, 0, 0.7);
    background: whitesmoke;
    text-decoration: none;
    border-radius: 24px;

    cursor: pointer;
    :hover {
        color:coral;
    }
}

.footer-icon-container:hover {
    transition-duration: 0.6s;
    transform: translateY(-5px);
}

.footer-copyright {
    background-color: rgb(70, 35, 165);
}
